<div class="vd_content-section clearfix">
    <div class="panel widget light-widget">
        <div class="panel-body">
            <div class="panel widget">
                <div  class="panel-body table-responsive">
                    <div class="col-md-12">
                        <form action="admin/rides_search" method="post">

                            <div class="col-md-4">
                                <label>Search name</label>
                                <input class="form-control" type="text" value="" name="email" placeholder='name or email'/>
                            </div>

                            <div class="col-md-4">
                                <label>Status</label>
                                <select class="form-control" name="is_active">
                                    <option value="">Select</option>
                                    <option   value="COMPLETED">Completed</option>
                                    <option   value="PENDING">Pending</option>
                                    <option   value="CANCELLED">Cancelled</option>
                                </select>
                            </div>
                            <div class="col-md-1" style="margin-top:28px">
                                <input type="submit" value="search" class="btn btn-success"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title titlename"> <span class="menu-icon"> <i class="fa fa-dot-circle-o"></i> </span> Rides </h3>
                </div>
                <div class="panel-body table-responsive">
                    <table id="example" class="table table-hover display customFont">
                        <thead>
                            <tr>
                                <th width="110">Driver name</th>
                                <th>Pickup address</th>
                                <th>Drop address</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Gul Khan</td>
                                <td>F-11 Markaz, Islamabad, Pakistan</td>
                                <td>Stadium Road, Rawalpindi, Pakistan</td>
                                <td>                                                            <span id="span" class="label label-success" style="background-color:green;color:white;">COMPLETED</span>
                                </td>
                                <td><a type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">View</a></td>
                            </tr>
                            <tr>

                                <td>Atif Khan</td>
                                <td>F-11 Markaz, Islamabad, Pakistan</td>
                                <td>Stadium Road, Rawalpindi, Pakistan</td>
                                <td>                                                            <span id = "span" class = "label label-success" style = "background-color:red;color:white;">CANCELLED</span >
                                </td>
                                <td><a type="button" disabled class="btn btn-sm btn-primary" href="#">View</a></td>
                            </tr>
                            <tr>

                                <td>Atif Khan</td>
                                <td>Abpara Market, Islamabad, Pakistan</td>
                                <td>Qau, Islamabad, Pakistan</td>
                                <td>                                                            <span id="span" class="label label-success" style="background-color:green;color:white;">COMPLETED</span>
                                </td>
                                <td><a type="button" class="btn btn-sm btn-primary" href="#">View</a></td>
                            </tr>
                            <tr>

                                <td>Atif Khan</td>
                                <td>Abpara Market, Islamabad, Pakistan</td>
                                <td>Qau, Islamabad, Pakistan</td>
                                <td>                                                            <span id="span" class="label label-success" style="background-color:green;color:white;">COMPLETED</span>
                                </td>
                                <td><a type="button"  class="btn btn-sm btn-primary" href="#">View</a></td>
                            </tr>
                            <tr>

                                <td>Atif Khan</td>
                                <td>Abpara Market, Islamabad, Pakistan</td>
                                <td>Qau, Islamabad, Pakistan</td>
                                <td>                                                            <span id = "span" class = "label label-success" style = "background-color:red;color:white;">CANCELLED</span >
                                </td>
                                <td><a type="button" disabled class="btn btn-sm btn-primary" href="#">View</a></td>
                            </tr>
                            <tr>

                                <td>Atif Khan</td>
                                <td>Abpara Market, Islamabad, Pakistan</td>
                                <td>IIUI, Islamabad, Pakistan</td>
                                <td>                                                            <span id = "span" class = "label label-success" style = "background-color:orange;color:white;">PENDING</span >
                                </td>
                                <td><a type="button"  class="btn btn-sm btn-primary" href="#">View</a></td>
                            </tr>
                            <tr>

                                <td>Atif Khan</td>
                                <td>Abpara Market, Islamabad, Pakistan</td>
                                <td>IIUI, Islamabad, Pakistan</td>
                                <td>                                                            <span id="span" class="label label-success" style="background-color:green;color:white;">COMPLETED</span>
                                </td>
                                <td><a type="button"  class="btn btn-sm btn-primary" href="#">View</a></td>
                            </tr>
                            <tr>

                                <td>Atif Khan</td>
                                <td>Abpara Market, Islamabad, Pakistan</td>
                                <td>IIUI, Islamabad, Pakistan</td>
                                <td>                                                            <span id = "span" class = "label label-success"  style = "background-color:orange;color:white;">PENDING</span >
                                </td>
                                <td><a type="button"  class="btn btn-sm btn-primary" href="#">View</a></td>
                            </tr>
                            <tr>

                                <td>Atif Khan</td>
                                <td>Abpara Market, Islamabad, Pakistan</td>
                                <td>IIUI, Islamabad, Pakistan</td>
                                <td>                                                            <span id = "span" class = "label label-success" style = "background-color:red;color:white;">CANCELLED</span >
                                </td>
                                <td><a type="button" disabled class="btn btn-sm btn-primary" href="#">View</a></td>
                            </tr>
                            <tr>

                                <td>Atif Khan</td>
                                <td>Abpara Market, Islamabad, Pakistan</td>
                                <td>IIUI, Islamabad, Pakistan</td>
                                <td>                                                            <span id="span" class="label label-success" style="background-color:green;color:white;">COMPLETED</span>
                                </td>
                                <td><a type="button"  class="btn btn-sm btn-primary" >View</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-offset-6">
                            <div id="myModal" class="modal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="panel-body">
                                                <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span></a>
                                                    <h3 class="mgbt-xs-20">View Rides Detail</h3>
                                                    <hr>
                                                    <form enctype="multipart/form-data" class="form-horizontal label-view" action="#" 
                                                    method="post" role="form" id="register-form">
                                                    <input type="hidden" value="33" name="user_id">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="control-label  col-md-4"><b>Community</b></label>
                                                            <div id="first-name-input-wrapper" class="controls col-md-8">
                                                                <label class="control-label">Muslim</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="control-label col-md-4"><b>Mobile Number</b></label>
                                                            <div id="website-input-wrapper" class="controls col-sm-6 col-md-8">
                                                                <label class="control-label">+923005755164</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="control-label col-md-4"><b>Phone Number</b></label>
                                                            <div id="website-input-wrapper" class="controls col-sm-6 col-md-8">
                                                                <label class="control-label">+9205156164</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="control-label col-md-4"><b>Email</b></label>
                                                            <div id="email-input-wrapper" class="controls col-sm-6 col-md-8">
                                                                <label class="control-label">gul@gmail.com</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="control-label col-md-4"><b>Vehicle Number</b></label>
                                                            <div id="email-input-wrapper" class="controls col-sm-6 col-md-8">
                                                                <label class="control-label">DGK 5435</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="control-label col-md-4"><b>Vehicle Type</b></label>
                                                            <div id="email-input-wrapper" class="controls col-sm-6 col-md-8">
                                                                <label class="control-label">Car</label>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="control-label col-md-4"><b>Address</b></label>
                                                            <div id="email-input-wrapper" class="controls col-sm-6 col-md-8">
                                                                <label class="control-label">F-11 Markaz, Islamabad, Pakistan</label>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label class="control-label col-md-4"><b>Driver Name</b>
                                                            </label>
                                                            <div id="email-input-wrapper" class="controls col-sm-6 col-md-8">
                                                                <label class="control-label">Gul Khan</label>
                                                                <img id="myno_img" style="width: 100px;height: 100px" src="assets/img/avatar/no-image.jpg" alt="your image">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination"><li class="active"><a href="#">1</a></li><li><a href="admin/getrides/10">2</a></li><li><a href="admin/getrides/20">3</a></li><li><a href="admin/getrides/10">&raquo</a></li></ul>
                </div>
            </div>
        </div>
    </div>
</div>