<div class="vd_content-section clearfix">
	<div class="panel widget light-widget">
    <div class="panel-body">
      <div class="panel widget">
        <div class="panel-heading vd_bg-grey">
          <h3 class="panel-title titlename"> <span class="menu-icon"> <i class="fa fa-registered" aria-hidden="true"></i> </span>STUDENT BEHAVIOR REPORT</h3>
        </div>
        <div  class="panel-body table-responsive left">
          <form class="form-horizontal"  action="admin/settings" method="post" role="form" id="register-form">
            <div id="">
              <h3>Policy</h3>
              <div class="form-group">
                <p>In accordance with Policy 804; student conduct on the school buses is to be consistent with that expected of the student in the classroom. Violations or misbebehavior may result in the suspension of privileges. This form is to be used as a communication tool between bus drivers, school principals and the transportation  services office to awareness of unacceptable behavior of students while being transported to and from school. If more room iss needed to expain the circumstance - use the back of the form</p>
              </div>
              <div class="form-group">
                <label class="control-label  col-md-3">Student Name<span class="vd_red">*</span></label>
                 <div id="first-name-input-wrapper"  class="controls col-md-9 input-group">
					<span class="input-group-addon "><span class="fa fa-child"></span></span>
                  <input type="text" placeholder="School Name" value="" class="width-120 required"  name="lname" >
                </div>
              </div>
              <div class="form-group">
                <label class="control-label  col-md-3">School Name<span class="vd_red">*</span></label>
                <div id="first-name-input-wrapper"  class="controls col-md-9 input-group">
					<span class="input-group-addon "><span class="fa fa-university"></span></span>
                  <input type="text" placeholder="School" value="" class="width-120 required"  name="nickname" >
                </div>
              </div>
              <div class="form-group">
                <label class="control-label  col-md-3">School Bus Route<span class="vd_red">*</span></label>
                 <div id="first-name-input-wrapper"  class="controls col-md-9 input-group">
					<span class="input-group-addon "><span class="fa fa-road"></span></span>
                  <input type="text" placeholder="School Bus Route No" value="" class="width-120 required"  name="oname"  >
                </div>
              </div>
              <div class="form-group">
                <label class="control-label  col-md-3">Driver's Name<span class="vd_red">*</span></label>
                <div id="first-name-input-wrapper"  class="controls col-md-9 input-group">
					<span class="input-group-addon "><span class="fa fa-male"></span></span>
                  <input type="text" placeholder="Driver's Name" value="" class="width-120 required" name="ssn" >
                </div>
              </div>
              <div class="form-group">
                <label class="control-label  col-md-3">Report Date<span class="vd_red">*</span></label>
                <div id="first-name-input-wrapper"  class="controls col-md-9 input-group date">
				<span class="input-group-addon "><span class="fa fa-calendar"></span></span>
                  <input type="text" value="" class="width-120 required"  name="nic"  >
                </div>
              </div>	
              <div class="form-group">
                <label class="control-label  col-md-3">Report Time<span class="vd_red">*</span></label>
                 <div  class="controls col-md-9 input-group bootstrap-timepicker timepicker">
					<span class="input-group-addon "><span class="fa fa-clock-o"></span></span>
                  <input  id="timepicker1" type="text"  class="width-120 required form-control">
                </div>
              </div>
            </div>
            <h3>Infraction</h3>
            <div class="form-group">
              <label class="control-label  col-md-3">Select <span class="vd_red">*</span></label>
              <div id=""  class="controls col-md-9">
                <div class="checkbox checkbox-success">
                  <input id="checkbox1" type="checkbox" checked="">
                  <label for="checkbox1">
                  First Infraction </label>
                </div>
                <div class="checkbox checkbox-success">
                  <input id="checkbox2" type="checkbox">
                  <label for="checkbox2">Second Infraction</label>
                </div>
                <div class="checkbox checkbox-success">
                  <input id="checkbox3" type="checkbox">
                  <label for="checkbox3">Third And More Infraction</label>
                </div>
              </div>
            </div>
            <h3>More</h3>
            <label class="control-label  col-md-3">Select<span class="vd_red">*</span></label><br>
            <div  class="controls col-md-9">
              <div class="row">
                <div class="col-md-6 sizefont">
                  <div class="checkbox checkbox-success">
                    <input id="checkbox4" type="checkbox" checked="">
                    <label for="checkbox4">Pushing on bus</label>
                  </div>
                  <div class="checkbox checkbox-success">
                    <input id="checkbox5" type="checkbox">
                    <label for="checkbox5">Fighting on bus</label>
                  </div>
                  <div class="checkbox checkbox-success">
                    <input id="checkbox6" type="checkbox">
                    <label for="checkbox6">Excesseive noise</label>
                  </div>
                  <div class="checkbox checkbox-success">
                    <input id="checkbox8" type="checkbox">
                    <label for="checkbox8">Vandalism</label>
                  </div>
                  <div class="checkbox checkbox-success">
                    <input id="checkbox9" type="checkbox">
                    <label for="checkbox9">Somking on Bus</label>
                  </div>
                  <div class="checkbox checkbox-success">
                    <input id="checkbox19" type="checkbox">
                    <label for="checkbox19">Profane Language</label>
                  </div>
                  <div class="checkbox checkbox-success">
                    <input id="checkbox11" type="checkbox">
                    <label for="checkbox11">Not properly seated while bus is in motion</label>
                  </div>
                </div>
                <div class="col-md-6 sizefont">
                  <div class="checkbox checkbox-success">
                    <input id="checkbox15" type="checkbox">
                    <label for="checkbox15">Arms or head out Window </label>
                  </div>
                  <div class="checkbox checkbox-success ">
                    <input id="checkbox13" type="checkbox">
                    <label for="checkbox13">Refuses to sit in assigned seat</label>
                  </div>
                  <div class="checkbox checkbox-success">
                    <input id="checkbox14" type="checkbox">
                    <label for="checkbox14">Belongings blocking aisle</label>
                  </div>
                  <div class="checkbox checkbox-success">
                    <input id="checkbox10" type="checkbox">
                    <label for="checkbox10">Disrespectful to driver</label>
                  </div>
                  <div class="checkbox checkbox-success">
                    <input id="checkbox12" type="checkbox">
                    <label for="checkbox12">Physically or mentally abusing others</label>
                  </div>
                  <div class="checkbox checkbox-success">
                    <input id="checkbox16" type="checkbox">
                    <label for="checkbox16">improper loading or unloading procedure</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="control-label "><p><strong>other</strong></p><span ></span></label><textarea cols="3" rows="3"></textarea>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-12">	
              <div class="form-group pull-right" style="margin-right: 0px;">
                <button class="btn vd_bg-green vd_white" type="button" >Submit</button>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
<script type="text/javascript">
		$(document).ready(function(){
				$('.date').datepicker({
					format:"yyyy-mm-dd",
					todayHighlight: true,
					toggleActive: true,
					autoclose: true,  
					/*startDate: "2012/01/01",
    				endDate: "2018/08/27",*/
				});
			});
	</script>
<script type="text/javascript">
            $('#timepicker1').timepicker();
        </script>