<div class="vd_content-section clearfix">
    <div class="panel widget light-widget">
        <div class="panel-body">
            <div class="panel widget">
                <div class="panel-heading vd_bg-grey">
                    <h3 class="panel-title titlename"> <span class="menu-icon"> <i class="fa fa-registered" aria-hidden="true"></i> </span>SCHOOL DISTRICT NO 51 (BOUNDARY)</h3>
                </div>
                <div class="panel-body table-responsive left">
                    <form class="form-horizontal" action="admin/settings" method="post" role="form" id="register-form">
                        <div id="PersonalInfoDiv">
                            <h3>VECHICLE CHECKLIST</h3>
                            <div class="form-group">
                                <label class="control-label  col-md-4">Vehicle Owner's Name:<span class="vd_red">*</span></label>
                                <div id="first-name-input-wrapper" class="controls col-md-8">
                                    <input type="text" placeholder="First Name" value="" class="width-120 required" name="fname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label  col-md-4">Year/Model of Vehicle<span class="vd_red">*</span></label>
                                <div id="first-name-input-wrapper" class="controls col-md-8">
                                    <input type="text" placeholder="Last Name" value="" class="width-120 required" name="lname">
                                </div>
                            </div>
                            <h3>PRE-TRIP CHECKLIST</h3>
                            <p>The following should be checked to ensure the vehicle is n proper working oreder:</p>
                            <label class="control-label  col-md-2">Select<span class="vd_red">*</span></label><br>
                            <div class="controls col-md-10">
                                <div class="row">
                                  <div class="col-md-6 sizefont">
                                      <div class="checkbox checkbox-success">
                                        <input id="checkbox4" type="checkbox" checked="">
                                        <label for="checkbox4">
                                          Wipers/Washer Fluid 
                                      </label>
                                  </div>
                                  <div class="checkbox checkbox-success">
                                    <input id="checkbox5" type="checkbox">
                                    <label for="checkbox5">
                                        Turn Signals          
                                    </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input id="checkbox6" type="checkbox">
                                    <label for="checkbox6">
                                        Breaks/Parking Brake 
                                    </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input id="checkbox8" type="checkbox">
                                    <label for="checkbox8">
                                        Tires
                                    </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input id="checkbox11" type="checkbox">
                                    <label for="checkbox11">
                                     Lights (high/low) 
                                 </label>
                             </div>
                         </div>
                         <div class="col-md-6 sizefont">

                            <div class="checkbox checkbox-success ">
                                <input id="checkbox13" type="checkbox">
                                <label for="checkbox13">
                                    Breaks/Parking Brake
                                </label>
                            </div>
                            <div class="checkbox checkbox-success">
                                <input id="checkbox14" type="checkbox">
                                <label for="checkbox14">
                                    Seat Belts  
                                </label>
                            </div>
                            <div class="checkbox checkbox-success">
                               <input id="checkbox10" type="checkbox">
                               <label for="checkbox10">
                                No of Seat Belts    
                            </label>
                        </div>
                        <div class="checkbox checkbox-success">
                            <input id="checkbox12" type="checkbox">
                            <label for="checkbox12">
                              Fluid Levels 
                          </label>
                      </div>
                  </div>
              </div>
          </div>
          <div><p>Children riding in the front passenger seat of vehicles equipped with passenger air bags will be in compliance with the vehicle manufacture's recommendation.<br><br><b>REMINDER</b> - Before driving, check and adjust the following:</p></div>
          <label class="control-label  col-md-2">Select<span class="vd_red">*</span></label><br>
          <div class="controls col-md-10">
            <div class="row">
              <div class="col-md-6 sizefont">
                  <div class="checkbox checkbox-success">
                    <input id="checkbox33" type="checkbox" checked="">
                    <label for="checkbox33">
                      Mirrors  
                  </label>
              </div>
              <div class="checkbox checkbox-success">
                <input id="checkbox55" type="checkbox">
                <label for="checkbox55">
                    Seats           
                </label>
            </div>
            <div class="checkbox checkbox-success">
                <input id="checkbox44" type="checkbox">
                <label for="checkbox44">
                    Luggage Packed Securely 
                </label>
            </div>
        </div>
        <label class="control-label">All child restraint requirements(booster seats, air bags)<span></span></label>
        <div id="first-name-input-wrapper" class="controls col-md-9">
            <textarea cols="1" rows="1"></textarea>
        </div>
    </div>
</div>
<label class="control-label  col-md-3">Comments/Notation<span></span></label>
<div id="first-name-input-wrapper" class="controls col-md-9">
    <textarea cols="3" rows="2"></textarea>
</div>
<div><p>Authorized time frame ( length of authorization for vehicle use):</p></div>
</div></form>
</div>
</div>
</div>
</div>
</div>